<section class="card">
  <img class="card-img-top" src="{{user.picture}}" alt="User Picture">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">Gender: {{user.gender}}</p>
  </div>
</section>
