<div class='container'>

  <div class="card-title d-flex justify-content-center card-body git  text-light  ">
    <h3>Message Board</h3>
  </div><br>

    <div class='col-md-4  text-light'>
      <h5>Messages</h>

      {{#if displayMessages}}
      {{#each displayMessages as |message|}}
      <div class='card mb-3'>
        <div class="message"class='card-body'>
          <h5 class='card-title'>From: {{message.sender_id}}

          <p class='card-text'>"{{message.content}}"</p>
        </div>
        <button class='btn btn-primary btn-lg'>Reply</button>
      </div><br>
      {{/each}}
      {{else}}
      <p>No messages yet.</p>
      {{/if}}

      {{!-- <form action='/api/messages/{{user.id}}' method='POST'>
        <div class='form-group'><br>
          <label for='message'>New Message:</label>
          <textarea class='form-control' id='message' name='message' rows='3'></textarea>
         <div class="text-left">
      <a class="btn btn-danger btn-lg " href="/signup" role="button">Send</a>
    </div>
    </div>
  </div>
</div> --}}

<style>
  body {
    background-color: #C68CD9;
  }
</style>

<script src="/js/message-board.js"></script>