<h2>Welcome to Love-Hungry! Please Put in your info below</h2>

<select class="custom-select custom-select-sm">
  <option selected>In which burrough do you live/like to eat?</option>
  <option value="1">Queens</option>
  <option value="2">Bronx</option>
  <option value="3">Manhattan</option>
  <option value="4">Brooklyn</option>
  <option value="5">Staten Island</option>
</select>
<select class="custom-select custom-select-sm">
  <option selected>Which cuisine would do want as your default option?</option>
  <option value="1">Chinese</option>
  <option value="2">American</option>
  <option value="3">Indian</option>
  <option value="4">Thai</option>
  <option value="5">Sushi</option>
  <option value="6">Pizza</option>

</select>