.fancy {
  font-family: "Great Vibes";
}
.secondary-text {
  font-family: "Raleway";
  color:#8e39aa;
}
.fancy-btn {
  background-color: #8e39aa;
  color: #ddcee2;
}
.nav-link {
  color: white;
  font-size: 1.75em;
  margin: 3px;
}
.purple-text {
  color: #8e39aa;
  font-size: 2.5em;
}
.centered-text {
  text-align: center;
}

.spaced {
  padding: 12px;
  margin: 3px;
}

.hidden {
  display: none;
}

.message {
  color: black;
}

.red {
  color: red;
}
